#main {
    display: flex;
    justify-content: center;
}

#background-image {
    z-index: -1;
    position: fixed;
    height: 75vh;
    width: 60vw;
}

#score-board {
    display: flex;
    flex-direction: column;
    margin-top: 5rem;
    margin-right: 2.5rem;
}

#grid-container {
    margin-top: 5rem;
    z-index: 1;
    position: relative;
    display: flex;
    justify-content: center;
    margin-right: 10rem;
    margin-bottom: 0;
    padding-bottom: 0;
}

#grid {
    z-index: 1;
    height: 320px;
    width: 320px;
    display: flex;
    flex-wrap: wrap;
}

#grid div {
    height: 40px;
    width: 40px;
    border-radius: 50%;
}